<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <script src="/client.js" defer></script>
  </head>
  <body>
    <h3>User List</h3>
    
    <table>
       <tr><td>LOGIN</td><td>NAME</td><td>COLOR</td></tr> 
      {% for u in users %}
         <tr><td>{{u.login}}</td><td>{{u.name}}</td><td>{{u.color2}}</td><td><span  height="10px" width="20px" background-color="red">khjgkhj</span></td></tr> 
      {% endfor %}
    
      
    </table>

  </body>
</html>
